<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SqCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SqDAEImporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SqEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SqEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SqGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SqOpenAL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SqOpenGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SqResource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SqWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BA642091629B23800DDC178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BA6421D1629B59600DDC178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBEA941162B2323003C3D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC94420162C007400A49DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC94449162C068C00A49DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC9448A162C0CCF00A49DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC94514162C501B00A49DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC9455B162C529900A49DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC94588162C536E00A49DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
